.submit {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.submit button {
    min-width: 10%;
}

h1 {
    margin: 0 0 0.5rem;
}

p {
    text-align: left;
    font-size: 14px;
    margin-top: 0.5rem;
}

.cancel-btn {
    background-color: #f0f2f5;
}

.submit-btn {
    color: white;
}

mat-form-field {
    width: 100%;
}