<ng-container *ngIf="currentEstimator.userid; else noUser">
    <div class="header">
        <h2>Calendar for {{ currentEstimator.username }}</h2>
    </div>
    <div class="content">
        <app-calendar></app-calendar>
    </div>
</ng-container>

<ng-template #noUser>
    <div class="header">
        <h2>Calendar</h2>
    </div>
    <div class="content">
        <div class="no-user">
            <mat-icon>calendar_today</mat-icon>
            <p>{{ noUserMessage }}</p>
        </div>
    </div>
</ng-template>