.header {
    background-color: var(--tertiary-color);
    color: white;
    padding: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header h1 {
    margin-bottom: 0;
}

.count-chip {
    color: white;
}