<div class="table-container">
    <div class="content">       
        
        <div class="filter">
            <mat-form-field appearance="standard">
                <mat-label>Filter leads</mat-label>
                <input matInput (keyup)="filterLeads($event)" #input placeholder="ex. John Doe">
            </mat-form-field>
        </div>
        

        <table mat-table [dataSource]="dataSource" class="lead-table" matSort fixedLayout="true">
            
            <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</th>
                <td mat-cell *matCellDef="let lead">{{ lead.customer || "n/a" | titlecase }}</td>
            </ng-container>
            <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
                <td mat-cell *matCellDef="let lead">{{ lead.createdDate | date }}</td>
            </ng-container>
            <ng-container matColumnDef="jobAddress">
                <th mat-header-cell *matHeaderCellDef>Property Address</th>
                <td mat-cell *matCellDef="let lead">{{ lead.jobAddress || "null" | titlecase}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <ng-container *ngIf="noResults">
                <tr class="mat-row" *matNoDataRow [ngStyle]="{'text-align': 'center'}">
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                        No matching results
                    </td>
                </tr>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToLead(row)"></tr>
        </table>

        <div *ngIf="isLoading" class="spinner">
            <mat-spinner color="accent" mode="indeterminate"></mat-spinner>
        </div>

        <mat-paginator 
            [pageSize]="10"
            showFirstLastButtons></mat-paginator>
    </div>
</div>