.sidenav-container {
    height: 100vh;
    width: 100vw;
    background-color: #f0f2f5;
}

.content {
    background-color: #f0f2f5;
    text-align: center;
    width: 100%;
}

mat-sidenav {
    width: 200px;
    border-right: none;
    background: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

mat-sidenav-content {
    overflow-x: hidden;
}

.hidden {
    display: none;
}