.header {
    background-color: var(--tertiary-color);
    color: white;
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.header h2 {
    margin-bottom: 0;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.buttons button {
    width: 200px;
}

.buttons button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}