h2 {
    margin: 0;
}

.address-container {
    background-color: white;
}

.address-table {
    width: 100%;
    padding: 1rem 0;
}

.address-container {
    display: flex;
    flex-direction: column;
}

.mat-header-row {
    background-color: #fafafa;
}

.mat-row {
    text-align: left;
}

.mat-row:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.buttons {
    text-align: left;
    display: flex;
    gap: 10px;
}

.confirm-button {
    background-color: var(--tertiary-color);
    color: white;
}