.container {
    height: 100%;
}

.header {
    background-color: var(--tertiary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

.header h1 {
    margin-bottom: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.text-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
}

.search-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.search-form input {
    width: 100%;
}

.search-form {
    padding: 1rem;
}

.form-group {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.form-group input {
    width: 100%;
}

.search-btn {
    color: white;
    background-color: var(--tertiary-color);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    margin: 1rem 2rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.submit {
    padding-top: 0.75rem;
}
