<div>
    <h2>New Job Address</h2>
    <form [formGroup]="jobAddressForm">
        <div formGroupName="jobAddress" class="job-address">
            <div class="street">
                <mat-form-field appearance="standard" class="street">
                    <mat-label>Street Address</mat-label>
                    <input id="location-input" matInput ngx-google-places-autocomplete
                    [options]="autoCompleteOptions" formControlName="streetAddress"
                    (onAddressChange)="fillAddress($event)">
                </mat-form-field>
            </div>
            <div class="details">
                <mat-form-field appearance="standard" class="city">
                    <mat-label>City</mat-label>
                    <input matInput type="text" name="city" formControlName="city">
                </mat-form-field>
                <mat-form-field appearance="standard" class="state">
                    <mat-label>State</mat-label>
                    <input matInput type="text" name="state" formControlName="state">
                </mat-form-field>
                <mat-form-field appearance="standard" class="zip">
                    <mat-label>Zip</mat-label>
                    <input matInput type="text" name="zip" formControlName="zip">
                </mat-form-field>
            </div>
        </div>
    </form>

    <div class="buttons">
        <button mat-raised-button (click)="closeDialog()">Cancel</button>
        <button mat-raised-button (click)="createJobAddress()">Confirm</button>
    </div>
</div>